databases/sample/second_test/t1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="t1"><xs:complexType><xs:sequence><xs:element name="table_details"/><xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="row_type"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="row_type"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="c1" type="xs:integer"/><xs:element maxOccurs="unbounded" minOccurs="0" name="c2" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>